AWS_REGION=us-east-1
PARAMETER_PATH_PREFIX=/aws-ts-lambda-template/dev
POWERTOOLS_LOG_LEVEL=INFO
POWERTOOLS_METRICS_NAMESPACE=AwsTsLambdaTemplate
POWERTOOLS_SERVICE_NAME=aws-ts-lambda-template
STAGE=dev
