AWS_REGION=us-east-1
PARAMETER_PATH_PREFIX=/typescript-lambda-starter/dev
POWERTOOLS_LOG_LEVEL=INFO
POWERTOOLS_METRICS_NAMESPACE=TypeScriptLambdaStarter
POWERTOOLS_SERVICE_NAME=typescript-lambda-starter
STAGE=dev
